---
layout: page
title: 'Note'
header-img: "img/facebook.jpg"
description: "My Notes"
---
<ul class="listing">
{%- assign notes = site.notes | sort: 'date' | reverse -%}
{% for note in notes %}
	{% capture y %}{{note.date | date:"%Y"}}{% endcapture %}
	{% if year != y %}
	{% assign year = y %}
	<li class="listing-seperator">{{ y }}</li>
	{% endif %}
	<li class="listing-item">
	<time datetime="{{ note.date | date:"%Y-%m-%d" }}">{{ note.date | date:"%Y-%m-%d" }}</time>
	<a href="{{ note.url }}" title="{{ note.title }}">{{ note.title }}</a>
	</li>
{% endfor %}
</ul>
