---
layout: page
title: "Note"
description: "Something interesting"
header-img: "img/facebook.jpg"
---


<!-- <ul class="listing">
{% for post in site.posts %}
	{% if post.categories contains 'blog' %}
		{% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
		{% if year != y %}
		{% assign year = y %}
		<li class="listing-seperator">{{ y }}</li>
		{% endif %}
		<li class="listing-item">
		<time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
		<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		</li>
	{% endif %}
{% endfor %}
</ul> -->

<ul class="listing">
	<li><a href="particles.html" target="_blank">particles</a></li>
	<li><a href="collision-detection.html" target="_blank">collision-detection</a></li>
</ul>
